{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1>Readme</h1>
  <p>
    This application is built using the Silex PHP framework, MySQL, Twig and hosted on Heroku
  </p>
  <p>You can find the source code <a href="https://github.com/Chasieboy317/yuppiechef-project">here</a>.</p>
  <p>You can use the navigation bar above to navigate between the functionality required in the brief.</p>
</div>
{% endblock %}
