<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul id="navlinks" class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-upload"></span>Submit a review</a>
      </li>
      <li>
        <a href="/review"><span class="glyphicon glyphicon-upload"></span>Submit a review</a>
      </li>
      <li>
        <a href="/view_all"><span class="glyphicon glyphicon-list-alt"></span>List all reviews</a>
      </li>
      <li>
        <a href="/reports"><span class="glyphicon glyphicon-book"></span>Reports</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  function makeActive() {
    let navlinks = document.getElementById("navlinks");
    for (let i=0; i<navlinks.children.length; i++) {
      navlinks.children[i].addEventListener("click", () => {
        if (navlinks.children[i].className!="active") {
          for (let j=0; j<navlinks.children.length; j++) {
            if (i!=j) {
              navlinks.children[j].className="";
            }
          }
          navlinks.children[i].className="active";
        }
      });
    }
  }

  makeActive();
</script>
