<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul id="navlinks" class="nav navbar-nav">
      <li>
        <a id="/" href="/"><span class="glyphicon glyphicon-upload"></span>Home</a>
      </li>
      <li>
        <a id="review" href="/review"><span class="glyphicon glyphicon-upload"></span>Submit a review</a>
      </li>
      <li>
        <a id="view_all" href="/view_all"><span class="glyphicon glyphicon-list-alt"></span>List all reviews</a>
      </li>
      <li>
        <a id="reports" href="/reports"><span class="glyphicon glyphicon-book"></span>Reports</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  function makeActive() {
    console.log(window.location.href);
    document.getElementById(window.location.href.split('/').pop()).parentNode.className="active";
  }

  makeActive();
</script>
