{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h1>We'd like to hear back from you!</h1>
  <form id="review_form" action="/review" method="post" target="_self">
    <div class="form-group">
      <label>Full Name</label>
      <input type="name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <div class="dropdown">
        <input name="dropdownButton" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" value="Select a product">
        <input name="product" type="hidden" value="none" id="product">
        <div class="dropdown-menu" id="ddMenu">
          <a class="dropdown-item" href="#">Pull product data here</a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Rating</label>
      <ul>
        <span id="star_0" class="glyphicon glyphicon-star"></span>
        <span id="star_1" class="glyphicon glyphicon-star-empty"></span>
        <span id="star_2" class="glyphicon glyphicon-star-empty"></span>
        <span id="star_3" class="glyphicon glyphicon-star-empty"></span>
        <span id="star_4" class="glyphicon glyphicon-star-empty"></span>
      </ul>
      <input type="hidden" id="review_rating" name="rating" value="1">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea name="description" class="form-control" id="review_textarea" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  async function getProducts() {
    fetch('/products').then(result => {
      console.log(result);
      result = JSON.parse(result);
      console.log(result);
      console.log(typeof result);

      //add products to dropdown menu
      let ddMenu = document.getElementById('ddMenu');
      for (let i=0; i<result.length; i++) {
        let item = document.createElement("A");
        item.className="dropdown-item";
        item.addEventListener("click", () => {
          document.getElementById("product").value=result[i].id;
          document.getElementById("dropdownMenuButton").value=result[i].name;
        });
        ddMenu.appendChild(item);
      }
      /*result.forEach(product => {
        let item = document.createElement("A");
        item.className="dropdown-item";
        item.addEventListener("click", () => {
          document.getElementById("product").value=product.id;
          document.getElementById("dropdownMenuButton").value=product.name;
        });
        ddMenu.appendChild(item);
      });*/
    });
  }

  function ratingLogic() {
    for (let i=0; i<5; i++) {
      let star = document.getElementById(`star_${i}`);
      star.addEventListener("click", () => {
        for (let j=0; j<=i; j++) {
          document.getElementById(`star_${j}`).className = "glyphicon glyphicon-star";
        }
        if (i<4) {
          for (let j=i+1; j<5; j++) {
            document.getElementById(`star_${j}`).className = "glyphicon glyphicon-star-empty";
          }
        }
        document.getElementById('review_rating').value = i;
      });
    }
  }

  ratingLogic();
  getProducts();
</script>

{% endblock %}
