{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h3 id="product_name"></h4>
  <h4 id="product_id"></h4>
  <a id="product_link" href=""></a>
  <form method="post" action="/edit_review" target="_self">
    <div class="form-group">
      <label>Review ID</label>
      <input id="review_id" type="text" disabled>
      <input name="id" type="hidden" value="{{global.request.get('id')}}">
    </div>
    <div class="form-group">
      <label>Username</label>
      <input id="review_username" type="text" disabled>
    </div>
    <div class="form-group">
      <label>Rating</label>
      <input id="review_rating" type="text" disabled>
    </div>
    <div class="form-group">
      <label>Submitted at</label>
      <input id="review_timestamp" type="text" disabled>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description" id="review_description" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
  <form>
</div>

<script>
{

}
  function getReview() {
    fetch(`/get_review/{{global.request.get('id')}}`).then(async result => {
      return await result.json();
    }).then(result => {
      result = JSON.parse(result);
      formatReview(result);
      getProduct(result.product_id);
    })
  }

  function getProduct(productId) {
    fetch(`/product/${productId}`).then(async result => {
      return await result.json();
    }).then(result => {
      result = JSON.parse(result);
      result.id = productId;
      formatProduct(result);
    })
  }

  function formatReview(review = {
    id: "id",
    rating: 0,
    username: "name",
    timestamp: "date",
    description: "description"
  }) {
    document.getElementById("review_id").value=review.id;
    document.getElementById("review_rating").value=review.rating;
    document.getElementById("review_username").value=review.username;
    document.getElementById("review_timestamp").value=review.timestamp;
    document.getElementById("review_description").value=review.description;

  }

  function formatProduct(product={
    name: "product name",
    id: "product_id",
    link: "product link",
  }) {
    document.getElementById("product_id").innerText=product.id;
    document.getElementById("product_name").innerText=product.name;
    document.getElementById("product_link").innerText="View";
    document.getElementById("product_link").href=product.href;
  }

  {% if global.request.get('id') is defined %}
  getReview();
  {% endif %}
</script>
{% endblock %}
