{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h1>Reviews</h1>
  <table id="reviews2" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Rating</th>
        <th scope="col">Username</th>
        <th scope="col">Description</th>
      <tr>
    </thead>
    <tbody id="reviews2">
    </tbody>
  </table>
  <ul id="reviews">
  </ul>
</div>

<script>

  const test_review = {
    id: '1234',
    rating: 2,
    username: 'John Test',
    description: 'this is a test'
  };

  function genCard(id, rating=0, name="none", desc="none") {
    let idElem = document.createElement("th");
    idElem.scope="row";
    idElem.innerText=id;

    let ratingElem = document.createElement("td");
    ratingElem.innerText=rating;

    let nameElem = document.createElement("td");
    nameElem.innerText=name;

    let descElem = document.createElement("td");
    descElem.innerText=desc;

    let row = document.createElement("tr");
    row.appendChild(idElem);
    row.appendChild(ratingElem);
    row.appendChild(nameElem);
    row.appendChild(descElem);

    return row;
    /*let card = document.createElement("DIV");
    card.className="card";

    let card_body = document.createElement("DIV");
    card_body.className="card-body";

    let card_title = document.createElement("H5");
    card_title.className="card-title";
    card_title.innerText=`${id} - ${rating}`;

    let card_subtitle = document.createElement("H6");
    card_subtitle.className="card-subtitle";
    card_subtitle.innerText=name;

    let card_text = document.createElement("P");
    card_text.className="card-text";
    card_text.innerText=desc;

    let card_a = document.createElement("A");
    card_a.className = "btn btn-primary";
    card_a.href=`/view_review/${id}`;

    card_body.appendChild(card_title);
    card_body.appendChild(card_subtitle);
    card_body.appendChild(card_text);
    card_body.appendChild(card_a);

    card.appendChild(card_body);

    return card;*/
  }

  function genReviews(reviews=[test_review]) {
    reviews.forEach(review => {
      document.getElementById("reviews2").appendChild(genCard(review.id, review.rating, review.username, review.description));
    })
  }

  async function getReviews() {
    fetch('/get_all_reviews').then(async result => {
      return await result.json();
    }).then(result => {
      result = JSON.parse(result);
      console.log(result);
      genReviews(result);
    });
  }

  getReviews();
</script>

{% endblock %}
