{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h1>Reviews</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Rating</th>
        <th scope="col">Username</th>
        <th scope="col">Submitted at</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      <tr>
    </thead>
    <tbody id="reviews">
    </tbody>
  </table>
</div>

<script>

  const test_review = {
    id: '1234',
    rating: 2,
    username: 'John Test',
    timestamp: new Date().getTime().toLocaleString(),
    description: 'this is a test'
  };

  function genCard(review = {
    id: "none",
    rating: 0,
    username: "none",
    timestamp: "none",
    description: "none"
  })
  {
    let idElem = document.createElement("th");
    idElem.scope="row";
    idElem.innerText=review.id;

    let ratingElem = document.createElement("td");
    ratingElem.innerText=review.rating;

    let nameElem = document.createElement("td");
    nameElem.innerText=review.username;

    let timestampElem = document.createElement("td");
    timestampElem.innerText=new Date(review.timestamp*1000).toGMTString();

    let descElem = document.createElement("td");
    descElem.innerText=review.description;

    editElem = document.createElement("td")

    editButton = document.createElement("a");
    editButton.className="btn btn-primary btn-sm";
    editButton.innerText="Edit review";
    editButton.href=`/view_review/${review.id}`;

    editElem.appendChild(editButton);

    let row = document.createElement("tr");
    row.appendChild(idElem);
    row.appendChild(ratingElem);
    row.appendChild(nameElem);
    row.appendChild(timestampElem);
    row.appendChild(descElem);
    row.appendChild(editElem);

    return row;
  }

  function genReviews(reviews=[test_review]) {
    reviews.forEach(review => {
      document.getElementById("reviews").appendChild(genCard(review));
    })
  }

  async function getReviews() {
    fetch('/get_all_reviews').then(async result => {
      return await result.json();
    }).then(result => {
      result = JSON.parse(result);
      console.log(result);
      genReviews(result);
    });
  }

  getReviews();
</script>

{% endblock %}
